*{
  padding: 0;
  margin: 0;
  text-align: center;
}

#network{
  width: 65vw;
  height: 83vh;
  float: left;
  background-color: #ddd;
  outline: 0.5vw solid #87ceeb;
  margin: 1vw;
}

#heading{
  background-color: #003366;
}
#title{
  color: white;
}
.links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }
.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}
#nav-bar{
  background-color: #003366;
  overflow: hidden;
}
#nav-bar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.drop-down {
  float: left;
  overflow: hidden;
}

.drop-btn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  padding: 1vw 0;
  margin: 0 2.3vw;
  width: 15vw;
  text-align: center;
  font-size: 1.5vw;
}

#navbar p:hover, .drop-down:hover .drop-btn {
  background-color: red;
}

.options {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 15vw;
}

.options p {
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: center;
}

.options p:hover {
  background-color: #ddd;
}

.drop-down:hover .options {
  display: block;
  margin: 0 2.3vw;
}
